<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>rendzvous</servlet-name>
        <servlet-class>rendezvous.rendzvous</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginAdmin</servlet-name>
        <servlet-class>admin.login.LoginAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowAllClient</servlet-name>
        <servlet-class>client.ShowAllClient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddClient</servlet-name>
        <servlet-class>client.AddClient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePatient</servlet-name>
        <servlet-class>personne.UpdatePatient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Board</servlet-name>
        <servlet-class>redirrect.Board</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllRDV</servlet-name>
        <servlet-class>redirrect.AllRDV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RDVHandler</servlet-name>
        <servlet-class>rdv.RDVHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveClient</servlet-name>
        <servlet-class>client.RemoveClient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserConnect</servlet-name>
        <servlet-class>controller.UserConnect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserRegister</servlet-name>
        <servlet-class>controller.UserRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Consultation</servlet-name>
        <servlet-class>redirrect.Consultation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Medicaments</servlet-name>
        <servlet-class>redirrect.Medicaments</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MedicamentServlet</servlet-name>
        <servlet-class>medicament.MedicamentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMedicament</servlet-name>
        <servlet-class>medicament.AddMedicament</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InvestigationServlet</servlet-name>
        <servlet-class>investigation.InvestigationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddInvestigation</servlet-name>
        <servlet-class>investigation.AddInvestigation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutAdmin</servlet-name>
        <servlet-class>admin.login.LogoutAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminPage</servlet-name>
        <servlet-class>redirrect.AdminPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMedecin</servlet-name>
        <servlet-class>medecin.AddMedecin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Personnel</servlet-name>
        <servlet-class>redirrect.Personnel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveMedecin</servlet-name>
        <servlet-class>medecin.RemoveMedecin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateMedecin</servlet-name>
        <servlet-class>personne.UpdateMedecin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceRedirect</servlet-name>
        <servlet-class>redirrect.ServiceRedirect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddService</servlet-name>
        <servlet-class>service.AddService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveService</servlet-name>
        <servlet-class>service.RemoveService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>rendzvous</servlet-name>
        <url-pattern>/rendzvous</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginAdmin</servlet-name>
        <url-pattern>/LoginAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowAllClient</servlet-name>
        <url-pattern>/ShowAllClient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddClient</servlet-name>
        <url-pattern>/AddClient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePatient</servlet-name>
        <url-pattern>/UpdatePatient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Board</servlet-name>
        <url-pattern>/Board</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllRDV</servlet-name>
        <url-pattern>/AllRDV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RDVHandler</servlet-name>
        <url-pattern>/RDVHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveClient</servlet-name>
        <url-pattern>/RemoveClient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserConnect</servlet-name>
        <url-pattern>/UserConnect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserRegister</servlet-name>
        <url-pattern>/UserRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Consultation</servlet-name>
        <url-pattern>/Consultation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Medicaments</servlet-name>
        <url-pattern>/Medicaments</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MedicamentServlet</servlet-name>
        <url-pattern>/MedicamentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMedicament</servlet-name>
        <url-pattern>/AddMedicament</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InvestigationServlet</servlet-name>
        <url-pattern>/InvestigationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddInvestigation</servlet-name>
        <url-pattern>/AddInvestigation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutAdmin</servlet-name>
        <url-pattern>/LogoutAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminPage</servlet-name>
        <url-pattern>/AdminPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMedecin</servlet-name>
        <url-pattern>/AddMedecin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Personnel</servlet-name>
        <url-pattern>/Personnel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveMedecin</servlet-name>
        <url-pattern>/RemoveMedecin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateMedecin</servlet-name>
        <url-pattern>/UpdateMedecin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceRedirect</servlet-name>
        <url-pattern>/ServiceRedirect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddService</servlet-name>
        <url-pattern>/AddService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveService</servlet-name>
        <url-pattern>/RemoveService</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>faces/index.jsp</welcome-file>
    </welcome-file-list>
    <jsp-config>
        <jsp-property-group>
            <display-name>Admin</display-name>
            <url-pattern>/administration/Login/index.jsp</url-pattern>
        </jsp-property-group>
    </jsp-config>
</web-app>
